<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap Template from https://getbootstrap.com/docs/4.0/components/alerts/ -->

</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/login" class="active">Home</a>
  <a href="/account">Account</a>
  <a href="/data">Data</a>
  <a href="/logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="openHamburgerMenu()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>

  <!-- Page Content -->
<content class="appPage">

<!-- Sidebar Widgets Column -->
    <div class="sidebar">
       <div class="addForm">
       <h3>Add Food</h3>
         <div>
          <form id="mealForm" name="mealForm" action="/maker" method="POST" class="mealForm">
            <input class="textBox add" id="mealName" type="text" name="name" placeholder="Meal / Food Name" />
            <input class="textBox add" id="mealIngredients" type="text" name="ingredients" placeholder="List Ingredients w/ commas" />
            <select class="selectBox" id="reactionLevel" name="level">
              <option selected="selected" disabled="disabled">Rate the reaction:</option>
              <option value="Urgent Care">Urgent Care</option>
              <option value="Painful">Painful</option>
              <option value="Mild Discomfort">Mild Discomfort</option>
              <option value="No Pain">No Pain</option>
            </select>
            <input type="hidden" name="_csrf" value={{csrfToken}} />
            <button class="formSubmit" type="submit">Submit</button>
          </form>
        </div>
      </div>

      <!-- Search Widget -->
      <div class="search">
        <h3>Search</h3>
          <form class="searchBar" name="searchForm" method="GET">
            <input type="text" class="form-control" id="searchInput" placeholder="Search for...">
            <button class="formSubmit" type="button" onclick="searchData()">Go</button>
            </form>
      </div>
  </div>  

    <div class="main">
    <!-- Blog Entries Column -->
    <div id="posts">
      <h1>Allergy Attention</h1>
      <!-- Blog Post -->
      <div class="tag" onclick="removeSearch()">
        <h5>Tag</h5>
      </div>
      
      <section id="meals">
        <div class="meal">
          {{#if foodData}}
          {{#each foodData}}
        <div class="card mb-4" id="mealCard" onclick="showData()">
          <div class="card-body">
            <h2 class="card-title">{{this.name}}</h2>
            <p class="card-text">{{this.ingredients}}</p>
            <p class="card-text">Reaction: {{this.level}}</p>
          </div>
          <div class="card-footer text-muted" id="foodFooter">
            {{this.date}}
          </div>
        </div>
          {{/each}}
          {{else}}
          <h3 class="noData">No food added</h3>          
        {{/if}}
        </div>
      </section>
  </div>
</div>  

  </content>
  <!-- /.container -->

  <div id="errorModal">
    <div class="modal fade" id="searchEmpty" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchEmptyLabel">Error: No results for ${input} found</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="removeSearch()">Okay</button>
        </div> 
      </div>
    </div>
    </div>
  </div>

  <script>
    /* Handlebars.registerHelper('json', function (content) {
      return JSON.stringify(content); 
    }); 
    
    if title.innerHTML == input {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
    
    */

    const searchData = () => {
      // grabs searchbar input
        let input = document.getElementById("searchInput").value;

        input = input.toLowerCase();
        input = input.trim();

        //grabs tag element
        let tag = document.querySelector(".tag");

        // grabs all the cards on screen
        let cardElements = document.querySelectorAll(".card");

        let itemsDisplaying = false;

        //for each card,
        cardElements.forEach(card => {
          //if title matches input, display and show tag
          let title = card.querySelector("h2").innerHTML;
          title = title.toLowerCase();

          if (title == input) {
            itemsDisplaying = true;
            card.style.display = "block";
            tag.querySelector("h5").innerHTML = input;
            tag.style.display = "block";
          //if not, set the display to none
          } else {
            card.style.display = "none";
          }
        });

        if (itemsDisplaying == false) {
            console.log("nothing on scren");
            $('#searchEmpty').modal('show');
          }
    } 

    const removeSearch = () => {
      $('#searchEmpty').modal('hide');
      let tag = document.querySelector(".tag");

      let cardElements = document.querySelectorAll(".card");

        cardElements.forEach(card => {
          card.style.display = "block";
          tag.style.display = "none";
        });
    }

    const showData = () => {
      window.location.href="/data";
    }
  </script>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/bundle.js"></script>
    <script>
      function openHamburgerMenu() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>